 {% extends "human_resource/modals/baseModal.html" %}
<!--Modal ID-->
{%  block modal-id %}
id="fullstackModal"
{%  endblock modal-id %}

<!--Modal TITLE-->

{%  block modal-title %}
 <i class="fab fa-node-js fa-1x"></i>&nbsp;&nbsp;Fullstack opportunity
{%  endblock modal-title %}

<!--Form Validation-->
{% block validation %} onsubmit="return validateForm3()" {% endblock validation %}


<!--Form action-->
{% block action %} action="{% url 'email_fullstack' %}" {% endblock action %}


<!-- ========================INPUT ID ==========================-->
<!--Name-->
{% block id-name %}  id="name3"   {% endblock id-name %} 
<!--Age-->
{% block id-age %} id="age3"   {% endblock id-age %} 
<!--Phone-->
{% block id-email %} id="email3"      {% endblock id-email %} 
<!--Email-->
{% block id-phone %} id="phone3"   {% endblock id-phone %} 
<!--Address-->
{% block id-address %} id="address3"  {% endblock id-address %} 
<!--Experience-->
{% block id-experience %} id="experience3"  {% endblock id-experience %} 
<!--Skills-->
{% block id-skills %} id="skills3"  {% endblock id-skills %} 
<!--File-->
{% block id-file %}  id="file3"  {% endblock id-file %} 