 {% extends "human_resource/modals/baseModal.html" %}

<!--Modal ID-->
{%  block modal-id %}
id="graphicDesignModal"
{%  endblock modal-id %}

<!--Modal TITLE-->

{%  block modal-title %}
<i class="fa-solid fa-pen-nib fa-1x"></i>&nbsp;&nbsp; Graphic opportunity
{%  endblock modal-title %}

<!--Form Validation-->
{% block validation %} onsubmit="return validateForm4()" {% endblock validation %}


<!--Form action-->
{% block action %} action="#" {% endblock action %}

<!-- ========================INPUT ID ==========================-->
<!--Name-->
{% block id-name %}  id="name4"   {% endblock id-name %} 
<!--Age-->
{% block id-age %} id="age4"   {% endblock id-age %} 
<!--Phone-->
{% block id-email %} id="email4"      {% endblock id-email %} 
<!--Email-->
{% block id-phone %} id="phone4"   {% endblock id-phone %} 
<!--Address-->
{% block id-address %} id="address4"  {% endblock id-address %} 
<!--Experience-->
{% block id-experience %} id="experience4"  {% endblock id-experience %} 
<!--Skills-->
{% block id-skills %} id="skills4"  {% endblock id-skills %} 
<!--File-->
{% block id-file %}  id="file4"  {% endblock id-file %} 