{% extends "starter.html" %}

{% block style %}
	    
.flex{
display:flex;
justify-content:space-around;
}

{% endblock  %}

{% block title %}
{{object.title}}
{% endblock %}
{% block content %}
{% load static %}
<!--

{% if messages %}

{% for message in messages %}


{% if message.tags == 'success' %}

<script src="{% static 'js/jquery.js' %}"></script>  
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<p class="msg" style="visibility:hidden;">{{message}}</p>
<script>
 $(document).ready(function(){
 $(".target").text($(".msg").text());
  $("#updatemessage").modal('show');
 });
</script>

{% endif %}


    
{% endfor %}

{% endif %}

-->



<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="updatemessage" tabindex="-1" aria-labelledby="updatemessageLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-dark site" id="updatemessageLabel">Perfect!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <div class="text-center text-success mt-3">
        <i class="far fa-check-circle fa-6x" style="color: #a5dc86;"></i>
        </div>
        <br>
        <div class="mb-3 text-dark carousel-p target articles"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" style="width:65px;" data-bs-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>





<div class="row {% if request.user.is_authenticated and request.user.is_staff  and author == visitor %}mb-4 {% endif %}">
  
    {% include 'blog/list-inline.html' with blog_post=object detail=True comment=comment %}
    
       

<div class="col-12 col-md-10 mx-auto  {% if request.user.is_authenticated and request.user.is_staff  and author == visitor %}mt-4 {% endif %}">

        {% if request.user.is_authenticated %}
        
        {% if request.user.is_staff %}
        {% if  author == visitor %}
        <footer class="fixed-bottom pt-2  pb-2">
          <div class="container d-flex justify-content-center">
            <ul class="text-white">

              <li> <a href="{% url 'home' %}" class="ui button inverted green me-2" title="Home"><i class="warehouse icon"></i></a></li>
              <li> <a href="{% url 'modify' object.slug %}" class="ui button inverted teal me-2" title="Update Post"><i class="pencil alternate icon"></i></a></li>
            
 <li><a href="{{object.get_delete_url}}" class="ui button inverted red me-2" title="Delete"><i class="fa-solid fa-trash-can"></i></a></li>
     
            </ul>
            </div>
          </footer>
    

      

        {% endif %}
        {% endif %}
        {% endif %}



</div>




{% endblock %}
