{% load static %}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<div class="container overflow-hidden text-center" style="visibility:hidden;">
  <div class="row gy-5">
    <div class="col-6">
      <div class="p-3">Custom column padding</div>
      </div>
    <div class="col-6">
      <div class="p-3">Custom column padding</div>
    </div>
  
  </div>
</div>

<div class="container p-4">
<div class="row d-flex justify-content-center">
<div class="col-md-6 p-4">
<div class="ui items ms-2" id="blog_post">
  <div class="item">
    {% if blog_post.image %}
    <div class="image">
      <a href="{{blog_post.get_absolute_url}}">
      <img src="{{blog_post.image.url}}" style="height: 30vh;" class="ui medium rounded image" alt="Blog image">
    </a>
    </div>
    {% endif %}
    {% if truncate %}
    <div class="content" id="content">
      <a class="header text-white p-2 fs-4 titles text-decoration-none" style="color: #D9C179 !important;">{{blog_post.title|title}}</a>
      <div class="meta">
        {% autoescape off %}
        <span class="text-white p-2 articles lh-lg" style="text-align: justify; text-justify: inter-word;">{{blog_post.content|linebreaks|truncatewords:30}}</span>
        {% endautoescape %}
      </div>    
      <div class="description text-white">
        <p></p>
      </div>
      <div class="extra text-white">
       
        <div class="ui label me-2" style="color:#594327 !important"><i class="calendar alternate icon"></i> {{blog_post.publish_date}}</div>
        <div class="ui button inverted  "><a href="{{blog_post.get_absolute_url}}" class="text-decoration-none" style="color:#F2E3B6 !important;">Continue reading</a></div>
        
       
      </div>
    </div>
  </div>
</div>

</div>

</div>



{% else %}

    <div class="content" id="content">
      <a class="header text-white p-2 titles text-decoration-none fs-3" style="color: #D9C179 !important;">{{blog_post.title|title}}</a>
     
      
      <div class="meta">
        {% autoescape off %}
        <span class="text-white p-3 ms-2 me-2 articles lh-lg" style="text-align: justify; text-justify: inter-word;">{{blog_post.content|linebreaks}}</span>
        {% endautoescape %}
      </div>

     
      <div class="description text-white">
        <p></p>
      </div>
      <div class="extra text-white">
        
        <div class="ui label" style="color:#594327 !important"><i class="calendar alternate icon"></i>{{blog_post.publish_date}}</div>
        <div class="ui label" style="color:#594327 !important"><i class="user icon" ></i>{{blog_post.user.first_name}}</div>
        
      </div>
      <div class="container overflow-hidden text-center" style="visibility:hidden;">
        <div class="row gy-5">
          <div class="col-6">
            <div class="p-3">Custom column padding</div>
          </div>
       
        
        </div>
      </div>
      <!--segment-->

  <div class="extra text-white ">
       {% if request.user.is_authenticated %} 
       <div class="ui labeled button" tabindex="0" data-bs-toggle="modal"  data-bs-target="#exampleModal">
  <div class="ui teal button">
    <i class="fa-solid fa-comments"></i> Comment
  </div>
 
</div>

<div class="ui labeled button" tabindex="0">

 {% if request.user.is_authenticated and request.user in blog_post.likes.all %}
 <div class="ui red button" id="like_button" data-href="{{blog_post.get_api_like_url}}" title="Like">
  <i class="heart icon" id="like_color"></i> like
</div>
{% else %}
<div class="ui red inverted button" id="like_button" data-href="{{blog_post.get_api_like_url}}" title="Like">
  <i class="heart icon" id="like_color"></i> like
</div>

{% endif %}


 
  <a class="ui red basic left pointing label" data-bs-toggle="modal" data-bs-target="#staticLikes"  id="like_display" data-href="{{blog_post.get_like_count}}" data-href-color="{{blog_post.get_like_users_color}}">
  {{blog_post.likes.count}}
  </a>
</div>
    
    {% else %}


   
    <div data-bs-toggle="modal"  data-bs-target="#authenticateModal" class="ui labeled button" tabindex="0" data-bs-toggle="modal"  data-bs-target="#exampleModal" style="cursor: pointer;">
  <div class="ui teal button">
    <i class="fa-solid fa-comments"></i> Comment
  </div>
 
</div>

<div class="ui labeled button" tabindex="0" data-bs-toggle="modal"  data-bs-target="#authenticateModal">
  <div class="ui red inverted button">
    <i class="heart icon"></i> like
  </div>
  <a class="ui basic red left pointing label" data-bs-toggle="modal" data-bs-target="#staticLikes" title="Like">
    {{blog_post.likes.count}}
  </a>
</div>
   {% endif %}




   
    
    <!--<div class="ui label me-4" style="color:#594327 !important; cursor: pointer;"><i class="fa-solid fa-share-from-square fa-2x"></i> </div>-->
    
    

  
</div>

      <div class="container overflow-hidden text-center" style="visibility:hidden;">
        <div class="row gy-5">
          <div class="col-6">
            <div class="p-3">Custom column padding</div>
          </div>
          <div class="col-6">
            <div class="p-3">Custom column padding</div>
          </div>
        
        </div>
        {% load humanize %}
      </div>
    

<!--modal begining -->
      <!-- Button trigger modal -->


<!-- Modal -->
  <!-- Button trigger modal -->


<!-- Modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{object.title|title}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="." method="post">
          {% csrf_token %}
          {% bootstrap_form form show_label=False %}
          {% if not object.publish_date or object.publish_date > now %}
	<div>
          <button type="submit" class="ui button purple inverted"  style="display: block; width:100%" disabled>post</button>
        </div>
			{% else %}
      <div>
			<button type="submit" class="ui button purple inverted" style="display: block; width:100%">post</button>
     
    </div>
			{% endif %}
          
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>

<!--#authenticateModal--->
<div class="modal fade" id="authenticateModal" tabindex="-1" aria-labelledby="#authenticateModalModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="#authenticateModalLabel">{{object.title|title}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <h4 class="text-center articles">You are not logged in</h4>
       <p class="text-center mt-2 articles"><a href="{% url 'login' %}?next={{request.path}}">Click here</a> to Login</p>
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>

 <!--modal end -->
{% for comment in comment %}
      <div class="ui feed mb-4">
        <div class="event">
            <div class="label">
            <img src="https://semantic-ui.com/images/avatar/small/joe.jpg">
            </div>
            <div class="content">
            <div class="summary text-white">
              <a class="text-white">{{comment.user.get_full_name|capfirst}}</a> 
              <div class="date">
              3 days ago
              </div>
            </div>
            <div class="extra text text-white articles" style="text-align: justify; text-justify: inter-word;">
              {{comment.comment}}
            </div>
            <div class="meta">
              <a class="like text-white text-decoration-none">
                <i class="fa-regular fa-calendar"></i> {{comment.timestamp|naturaltime}}
              </a>
              <a class="like text-white text-decoration-none">
              <i class="like icon "></i> 5 Likes
              </a>
              {% if request.user == comment.user %}
             
              <a class="like text-white text-decoration-none" href="#">
                <i class="pencil alternate icon"></i> Edit
              </a>
              {% endif %}
            </div>
            </div>
          </div>
      
      </div>
      {% endfor %}
      <div class="container overflow-hidden text-center" style="visibility:hidden;">
        <div class="row gy-5">
          <div class="col-6">
            <div class="p-3">Custom column padding</div>
          </div>
          <div class="col-6">
            <div class="p-3">Custom column padding</div>
          </div>
        
        </div>
      </div>
    </div>
    

{% endif %}
</div>


<!--
List of users that like a post -->

<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="staticLikes" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">People who reacted</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="ui middle aligned selection list">
          {% for likes in users_likes %}
          
          <div class="item">
            <img class="ui avatar image" src="https://semantic-ui.com/images/avatar/small/helen.jpg">
            <div class="content">
              <div class="header" id="like_users" data-href="{{object.get_like_users}}">{{likes.get_full_name}}</div>
            </div>
          </div>
          {% endfor %}
        </div>
       





  

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>




<span class="text-danger" id="no-data"></span>